.header {
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background-color: #6f77f4;
    border-radius: 20px;
    font: normal normal 600 18px/27px Poppins;
    color: #fff;
    width: 95px;
    height: 32px;
    padding: 2px;
    border: none;
}

.header ul {
    list-style: none;
    display: flex;
}


.header ul li {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header .links ul li.active a {
    background-color: #6f77f4 !important;
    border-radius: 20px;
    padding:5px 10px;
    color: white;
}

.header ul li a {
    font: 27px;
    color: #6770f7;
    border-radius: 20px;
    padding: 0 10px;
    font-weight: 400;
    text-decoration: none;
}
.header .login-btn {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .search-icon {
    color: #6f77f4;
    font-size: 20px;
    height: 18px;
    width: 18px;
    padding-right: 20px;
}
.header .burger {
    color: #6f77f4;
    height: 18px;
    width: 18px;

}

.header .burger-menu {
    display: none;
}

@media screen and (max-width:1000px){
    .header .burger-menu {
        display: block;
    }
    .login-btn,.links {
        display: none !important;
    }
}